body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    
}
img.mainimg{
    height: 900px;
    width: 550px;
    display: flex;
    position: absolute;
    top: 5px;
    left: 5px;
    margin: 0px;
    padding: 0px;
}
.text{
    font-size: 6em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    font-style: normal;
    font-stretch: expanded;
    display: flex;
    position: absolute;
    top: 150px;
    right: 80px;
}
.right img{
    height: 50px;
    width: 50px;
    display: flex;
    position: absolute;
    top: 50px;
    left: 570px;
}
.righttwo img{
    height: 400px;
    width: 400px;
    display: flex;
    position: absolute;
    top: 200px;
    left: 80px;
}
.texttwo{
    font-size: 3em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-stretch: expanded;
    display: flex;
    position: absolute;
    top: 300px;
    right: 370px;
}
.signupg{
    font-size: 1.2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    display: flex;
    position: absolute;
    right: 240px;
    top: 230px;
    height: 50px;
    width: 300px;
    
}
.signupg img{
    height: 30px;
    width: 30px;
}
.signupa{
    font-size: 1.2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    display: flex;
    position: absolute;
    top: 200px;
    right: 240px;
    height: 50px;
    width: 300px;
}
.signupa img{
    height: 30px;
    width: 30px;
}
.signuppe{
    font-size: 1.2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    display: flex;
    position: absolute;
    right: 240px;
    top: 280px;
    height: 50px;
    width: 300px;
}
.textthree{
    display: flex;
    position: absolute;
    top: 620px;
    right: 400px;
}
.textfour{
    display: flex;
    position: absolute;
    top: 640px;
    right: 590px;
}
.textfive{
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-stretch: expanded;
    display: flex;
    position: absolute;
    top: 750px;
    right: 490px;
}
.signin{
    font-size: 1.2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    display: flex;
    position: absolute;
    right: 230px;
    top: 560px;
    height: 50px;
    width: 300px;
}
.linkstwo{
    display: flex;
    position: absolute;
    top: 960px;
    left: 400px;
}
.links{
    display: flex;
    position: absolute;
    top: 930px;
    left: 20px;
}